* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

body{   
  background-color: #e5e5e5;   
  font-family:'Inter', Courier, monospace;
}

#root{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;   
  margin-right: auto;
}

header{
  display: flex;  
  width: 100%;
  background-color: #F55A5A;  
  justify-content: center;
  align-items: center ;
  padding: 20px 0;
} 
  
.heroIcon{ 
  margin-right: 5px;  
  display: flex; 
  align-self: center;
}
  
.cardImg{ 
  width:  14rem;
  max-width: 80%;
  border-radius: 5px;
}

.card{
  display: flex;
  flex-direction: row; 
  width: 704px;  
  padding: 1.8rem;
}

.cardIcon{
  color: #F55A5A; 
}
 
.cardInfo{ 
  padding-left: 19px; 
}

.cardLocation{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  letter-spacing: 0.17em;
}

.cardLocation h4{ 
  color: #2B283A; 
}

.cardLink{
  margin-left: 25px;
  color:   #918E9B;
  text-decoration: underline;
}

.cardPlace{
  text-transform: uppercase;
  color: #2B283A;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 34px;
}

.cardDate{
  font-weight: bold;
  color: #2B283A;
}

.cardDetail{ 
  color: #2B283A;
  line-height: 150%;
}